body {
    background-color: burlywood;
}
header {
    color:darkred;
    text-align: center;
}
.title{
    color: palevioletred;
}
div {
    margin-left: 24px;
}
#coffee-image{
    margin-left: 100px;
    position: relative;
}
img{
    border: 2px dotted black;
    padding: 10px;
    height: fit-content;
    border-radius: 50%;
}
h5{
    padding: 100px;
}
#copyright{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
